.adviceBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.advice {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #313a48;
    padding: 4rem;
    border-radius: 1rem;
    max-width: 530px;
    margin: 0;
    gap: 2rem;
}
.number {
    font-weight: 400;
    color: #53ffaa;
    letter-spacing: 3px;
    font-size: 12px;
    margin: 0;
}
.image {
    max-width: 445px;
}
.text {
    font-weight: 600;
    text-align: center;
    color: #cee3e9;
    font-size: 22px;
    max-width: 445px;
    margin: 0;
    line-height: 30px;
}
